{# src/NRX/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Aurevoir {{ nom }}</title>
  </head>
  <body>
    <h1>Byebye {{ nom }}</h1>

    <p>
      Page byebye World !
    </p>
  </body>
</html>
